.bonus {
  width: 100%;
  background-image: url(../images/bonus-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  position: relative;
  overflow: hidden;

  

    &:hover .bonus_elements-1{
      // animation: rotate 5s infinite linear;
      // -webkit-animation: rotate 5s infinite linear;
      transform: rotate(19deg);
      transition: 5s;
      // animation: translating 4s linear infinite;


    }
    &:hover .bonus_elements-2{
      // animation: rotate 5s infinite linear;
      // -webkit-animation: rotate 5s infinite linear;
      transform: rotate(30deg);
      transition: 5s;
 
    }
    &:hover .bonus_elements-3{
      // animation: rotate 5s infinite linear;
      // -webkit-animation: rotate 5s infinite linear;
      transform: rotate(15deg);
      transition: 5s;

    }
    &:hover .bonus_elements-4{
      // animation: rotate 5s infinite linear;
      // -webkit-animation: rotate 5s infinite linear;
      transform: rotate(20deg);
      transition: 5s;

    }
    // @keyframes translating {
    //   0%  { transform: translate(0, 0);}
    //   25% { transform: translate(240px, 0);}
    //   50% { transform: translate(240px, 140px);}
    //   75% { transform: translate(0, 140px);}
    //   100%{ transform: translate(0, 0);}
    // }
  .bonus_elements{
    width: 1754px;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  

  .parametrs{
    position: absolute;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    // width: 300px;
    // height: 200px;
    
  }
  .bonus_elements-1{
    left: 142px;
    top: 121px;
    transition: 5s;
  }

  .bonus_elements-2{
    left: 280px;
    top: 50px;
    transition: 5s;
  }
      
  .bonus_elements-3{
    top: 60px;
    right: 226px;
    transition: 5s;
  }

  .bonus_elements-4{
    right: -40px;
    bottom: 25px;
    transition: 5s;
}
  }
  
  
  .bonus__center {
    margin: 0px auto;
    max-width: 534.8px; 

    .bonus__center__activate {
      max-width: 455px;
      height: 92px;
      background-image: url(../images/bonus.png);
      background-position: center;
      background-repeat: no-repeat;
      margin: 41px 20px 30px 20px;
      background-size: contain;
    }

    .bonus__center__arrow {
      width: 86px;
      height: 48px;
      background-image: url(../images/arrow.png);
      margin: 0px auto; }

    .bonus__center__usd {
      max-width: 534.8px;
      height: 182px;
      background-image: url(../images/100-usd.png); 
      background-repeat: no-repeat;
      background-size: contain;
      margin: 0px 20px;
    }

    .header__btn__margin {
      margin: 36px auto 55.9px auto; 
    }
  }
}