.header{
  width: 100%;
  height: 666px;  
  background-image: url(../images/bg.jpg); 
  background-position: center; 
  background-size: cover;
  position: relative;
  overflow: hidden;

  @media (max-width: 620px) {
    height: 933px;
  }

  .logo{
    position: absolute;
    width: 240px;
    height: 80px;
    // left: 40%;
    top: 45px;
    z-index: 15;
    margin: auto;
    left: 0;
    right: 0;

    @media (max-width: 800px) {
       top: 40px
    }
    @media (max-width: 620px) {
      top: -250px
   }

  }

  .header__form{
    position: absolute;
    width: 400px;
    height: 376px;
    // left: 35%;
    bottom: 53px;
    // outline: 2px solid goldenrod; 
    z-index: 20;
    display: flex;
    justify-content: center;
    margin: auto;
    left: 0;
    right: 0;

    @media (max-width: 800px) {
   
      // width: auto;
       bottom: 90px;
    }
    @media (max-width: 620px) {
      bottom: 105px;
      width: 268px;
    }

  } 

  form{
    z-index: 2;
  }
  .teni{
    width: 299px;
    height: 340px;
    left: 0px;
    top: 0px;
    background: rgba(0, 8, 28, 0.8);
    filter: blur(60px);
    border-radius: 64px;
    z-index: 1;
    @media (max-width: 620px) {
      position: absolute;
    }
  }

  .header__piple{
    position: relative;
    margin: 0px auto;
    max-width: 1376px;
    height: 644px;
    // outline: 2px solid red;
    bottom: -20px;
    @media (max-width: 800px) {
     
      position: relative;
    }
    @media (max-width: 620px) {
      bottom: -287px;
    }

    .header__piple__girl-1{
      position: absolute;
      width: 350px;
      height: 644px; 
      background-image: url(../images/girl_left_1.png);
      background-size: cover;
      z-index: 2;
      bottom: -2px;
      left: 40px;

      @media (max-width: 800px) {
        width: 314px;
        height: 576px;
        left: -85px;
      }
      @media (max-width: 620px) {
        width: 415.29px;
        height: 768px;
        left: -120px;
      }
    }

    .header__piple__girl-2{
      position: absolute;
      width: 402px;
      height: 633px;
      background-image: url(../images/girl_right_1.png);
      background-size: cover;
      right: -40px;
      z-index: 1;
      bottom: -2px;

      @media (max-width: 800px) {
        width: 314px;
        height: 560px;
        right: -86px;
      }

      @media (max-width: 620px) {
        width: 484.15px;
        height: 768px;
        right: -215px;
      }
    }
  }

  .header__elements-bg{
    max-width: 1754px;
    height: 80%;
    position: absolute;
    z-index: 1;
    background-image: url(../images/elements-bg.png);
    margin: auto;
    left: 0px;
    right: -60px;
    top: 50px;
    background-position: center;
    animation: translating 8s linear infinite;
  }
  @keyframes translating {
    0%  { transform: translate(0, 5px);}
    25% { transform: translate(20px, 0);}
    50% { transform: translate(0px, 40px);}
    75% { transform: translate(10px, 10px);}
    100%{ transform: translate(0, 0);}
  }
}

.header__btn{
  display: block;
  width: 385px;
  height: 88px;
  background: linear-gradient(89.2deg, #FFDC25 0.14%, rgba(255, 138, 0, 0.73) 99.29%), #FFD90F;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  font-family: Noto Sans Arabic;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 1.35px;
  color: #FFFFFF;
  margin: 0px auto;
  cursor: pointer;

  @media (max-width: 800px) {
    width: 400px;
  }

  @media (max-width: 620px) {
    width: 272px;
  }
}

.header__form input[type="name"]{
  width: 384px;
  height: 64px;
  background: #09223F; 
  border: 2px solid #366799;
  box-sizing: border-box;
  box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.15), 0px 15px 12px rgba(0, 0, 0, 0.11);
  border-radius: 8px;
  text-align: right;
  padding-right: 24px;
  margin: auto;
  display: block;
  color: white;
  font-size: 24px;

  @media (max-width: 620px) {
    width: 272px;
  }
}

// .header__form input[type="tel"]{
//   width: 219px;
//   height: 64px;
//   background: #09223F;
//   border: 2px solid #366799;
//   box-sizing: border-box;
//   box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.15), 0px   15px 12px rgba(0, 0, 0, 0.11);
//   border-radius: 8px;
//   font-size: 20px;
//   text-align: right;
//   padding-right: 24px;
//   margin: auto;
//   display: inline-block;

//   @media (max-width: 620px) {
//     width: 272px;
//   }
// }

.header__form input[type="number"]{
  width: 157px;
  height: 64px;
  background: #09223F;
  border: 2px solid #366799;
  box-sizing: border-box;
  box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.15), 0px   15px 12px rgba(0, 0, 0, 0.11);
  border-radius: 8px;
  font-size: 20px;
  text-align: right;
  padding-right: 24px;
  margin: auto;
  display: inline-block;

  @media (max-width: 620px) {
    width: 272px;
  }
}


.header__form input[type="checkbox"]{
  width: 16px;
  height: 16px;
  margin-left: 12px;

  @media (max-width: 620px) {
    width: 272px;
  }
}


.text-first{
  font-family: Noto Sans Arabic;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 0.444444px;
  margin: 27px;

  @media (max-width: 620px) {
    margin: 12px auto;
  }

}

.checkbox-text{
  margin: 16px auto 47px auto;
  text-align: right;
  font-family: Noto Sans Arabic;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  @media (max-width: 620px) {
    text-align: center;
    margin: 16px auto 27px auto;
  }


}

.form-control{
  width: 219px;
  height: 64px;
  background: #09223F;
  border: 2px solid #366799;
  box-sizing: border-box;
  box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.15), 0px   15px 12px rgba(0, 0, 0, 0.11);
  border-radius: 8px;
  font-size: 24px;
  text-align: right;
  padding-right: 24px;
  margin: auto;
  display: inline-block;
  color: white;
  text-align: center;

  @media (max-width: 620px) {
    width: 272px;
  }
}

.tel{
  width: 157px;
  height: 64px;
  background: #09223F;
  border: 2px solid #366799;
  box-sizing: border-box;
  box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.15), 0px   15px 12px rgba(0, 0, 0, 0.11);
  border-radius: 8px;
  font-size: 24px;
  text-align-last: center;
  padding-right: 24px;
  margin: auto;
  display: inline-block;
  color: white;
  margin-left: 1%;

  @media (max-width: 800px) {
    margin-left: 4%;
  }

  @media (max-width: 620px) {
    width: 272px;
    margin: 16px auto;
    text-align-last: right;
  }
}